In [33]:
#create dictionary

l1 = [1,2,3,4,5,6,7,8]
l2 = [1,4,9,16,25,36,49,64]
d={}

for i in range(len(l1)):
    d[l1[i]] = l2[i]
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [65]:
type(d.keys())

dict_keys

In [43]:
#1. Write a Python script to sort (ascending and descending) a dictionary by value.
d = {'k1':24,'k2':34,'k3':78,'k4':21}

for key in sorted(d.keys()):
    tup = (key,d[key])   
tup

['k1', 'k2', 'k3', 'k4']

In [45]:
my_dict = {'k1':24,'k2':34,'k3':78,'k4':21}
sorted_dict_asc = dict(sorted(my_dict.items(), key=lambda x: x[1]))
sorted_dict_asc

{'k4': 21, 'k1': 24, 'k2': 34, 'k3': 78}

In [49]:
sorted_dict_desc = dict(sorted(my_dict.items(), key=lambda x: x[1], reverse=True))
print(sorted_dict_desc)
#read sorted documentation https://docs.python.org/3/howto/sorting.html

{'k3': 78, 'k2': 34, 'k1': 24, 'k4': 21}

In [14]:
#2.Write a Python script to add a key to a dictionary.

d = {'k1':24,'k2':34,'k3':78,'k4':21}

d['k5']=150

d

{'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21, 'k5': 150}

In [ ]:
d[]
d[1]

In [51]:
#3. Write a Python script to concatenate the following dictionaries to create a new one.
#Solution1
d1 = {'k1':24,'k2':34,'k3':78,'k4':21}
d2 = {'l1':33, 'l2':59, 'l3':44}

for i,j in d2.items():
    d1[i]=j
d1

{'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21, 'l1': 33, 'l2': 59, 'l3': 44}

In [53]:
#Solution 2
d1 = {'k1':24,'k2':34,'k3':78,'k4':21}
d2 = {'l1':33, 'l2':59, 'l3':44}
d3 = {}
for i,j in d1.items():
    d3[i] = j
for i,j in d2.items():
    d3[i] = j
d3

{'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21, 'l1': 33, 'l2': 59, 'l3': 44}

In [63]:
#4. Write a Python script to check whether a given key already exists in a dictionary.

d1 = {'k1':24,'k2':34,'k3':78,'k4':21}

def check_key(d1,n):
    if n in d1.keys():
        result = True
    else:
        result = False
    return result

check_key(d1,'k5')

False

In [66]:
#5. Write a Python program to iterate over dictionaries using for loops.

d1 = {'k1':24,'k2':34,'k3':78,'k4':21}

for key,value in d1.items():
    print(key,'->',value)

k1 -> 24
k2 -> 34
k3 -> 78
k4 -> 21

In [69]:
#6. Write a Python script to generate and print a dictionary that 
#contains a number (between 1 and n) in the form (x, x*x).

def dict_sq(n):
    d={}
    for i in range(1,n+1):
        d[i] = i*i
    return d

dict_sq(4)

#7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) 
#and the values are the square of the keys.

dict_sq(16)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256}

In [71]:
#8. Write a Python script to merge two Python dictionaries.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}
d2 = {'l1': 33, 'l2': 59, 'l3': 44}

def merge_dict(d1, d2):
    d = {}
    for key1, key2 in zip(d1, d2):
        d[key1] = d1[key1]
        d[key2] = d2[key2]
    return d

merged_dict = merge_dict(d1, d2)
print(merged_dict)

{'k1': 24, 'l1': 33, 'k2': 34, 'l2': 59, 'k3': 78, 'l3': 44}

In [74]:
#8. Write a Python script to merge two Python dictionaries.


d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}
d2 = {'l1': 33, 'l2': 59, 'l3': 44}

def merge_dict(d1, d2):
    d={}
    for key,value in zip(d1,d2):
        d[key] = value
    return d
        
merge_dict(d1,d2)

#This does not work since for zip you must give key list and value list

{'k1': 'l1', 'k2': 'l2', 'k3': 'l3'}

In [75]:
d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}
d2 = {'l1': 33, 'l2': 59, 'l3': 44}

d = d1.copy()
d.update(d2)
print(d)

{'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21, 'l1': 33, 'l2': 59, 'l3': 44}

In [78]:
#10. Write a Python program to sum all the items in a dictionary.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}

def sum_items(d1):
    sum_dict = sum(d1.values())
    return sum_dict

sum_items(d1)

157

In [85]:
#11. Write a Python program to multiply all the items in a dictionary.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}

def prodt_items(d1):
    result = 1
    for value in d1.values():
        result = result*value
    return result

prodt_items(d1)

1336608

In [88]:
#12. Write a Python program to remove a key from a dictionary.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}

def remove_key(d1,k):
    d1.pop(k)
    return d1

remove_key(d1,'k1')

{'k2': 34, 'k3': 78, 'k4': 21}

In [90]:
#13.Write a Python program to map two lists into a dictionary.

l1 = [1,2,3,4,5,6,7,8]
l2 = [1,4,9,16,25,36,49,64]

dict(zip(l1,l2))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [99]:
#14. Write a Python program to sort a given dictionary by key.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}
d={}
sorted_d = sorted(d1.keys())
for key in sorted_d:
    d[key] = d1[key]

d

{'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}

In [104]:
#15. Write a Python program to get the maximum and minimum values of a dictionary.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}

max_value = max(d1.values())
min_value = min(d1.values())

print(max_value,'&',min_value)

78 & 21

In [114]:
#16. Write a Python program to get a dictionary from an object's fields.

class dictObj(object):
     def __init__(self):
            self.x = 'red'
            self.y = 'Yellow'
            self.z = 'Green'
            def do_nothing(self):
                pass
            
test = dictObj()
            
print(test.__dict__)

{'x': 'red', 'y': 'Yellow', 'z': 'Green'}

In [119]:
#17.Write a Python program to remove duplicates from the dictionary.

student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result = {}

# for key,value in student_data.items():
#     print(key,value)
#     if value not in result.values():
#         result[key] = value

print(result)


# def remove_duplicates(d1):
#     for key,value in d1.items():
              
student_data['id1']

id1 {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id2 {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id3 {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id4 {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}
{}

In [144]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'classes': {'physics': ['section1','section2']}
   },
 'id2': 
  {'name': ['David'],
   'classes': {'chemistry': ['section3','section4']}
   },
 'id3': 
   {'name': ['Sara'], 
     'classes': {'Math': ['section5','section6']}
   },
 'id4': 
   {'name': ['Surya'], 
    'classes': {'Geography': ['section7','section8']}
   }
}




for key in student_data:
    #print(student_data[key]['classes'])
    for sub_key in student_data[key]['classes']:
        print(student_data[key]['classes'][sub_key])

['section1', 'section2']
['section3', 'section4']
['section5', 'section6']
['section7', 'section8']

In [159]:
#18. Write a Python program to check if a dictionary is empty or not.
d=[]
if len(d) == 0:
    print('dictionary is empty')
else:
    print('non-empty')

dictionary is empty

In [152]:
a=5
a

5

In [155]:
if a==5:
    print('yes')
else:
    print('no')

yes

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [162]:
#19. Write a Python program to combine two dictionary by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

def combine_dict(d1,d2):
    l1=list(d1.keys())+list(d2.keys())
    l2=list(d1.values())+list(d2.values())
    d={}
    for key,value in zip(l1,l2):
        d[key]=value
    return d

combine_dict(d1,d2)

{'a': 300, 'b': 200, 'c': 300, 'd': 400}

In [169]:
#20.Write a Python program to print all distinct values in a dictionary.

data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

data2 = {}

for x in data:
    for key,value in x.items():
            data2[key]=value
            
data2.values()

dict_values(['S009', 'S005', 'S005', 'S007'])

In [177]:
#21. Write a Python program to create and display all combinations of letters, 
#selecting each letter from a different key in a dictionary.

d = {'1':['a','b'], '2':['c','d']}

def combination_letters(d):
    result = []
    for key in d:
        result.append(''.join(d[key]))
    return result
combination_letters(d)

['ab', 'cd']

In [172]:
''.join(['a','b'])

'ab'

In [178]:
d = {'1': ['a', 'b'], '2': ['c', 'd']}

def combinations_letters(d, prefix='', keys=None):
    if keys is None:
        keys = list(d.keys())
    if not keys:
        print(prefix)
    else:
        current_key = keys[0]
        for letter in d[current_key]:
            combinations_letters(d, prefix + letter, keys[1:])

combinations_letters(d)

#This uses recursion. We will deal with recursion later

ac
ad
bc
bd

In [194]:
#22. Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

d1 = {'k1': 24, 'k2': 34, 'k3': 78, 'k4': 21}

def highest_three(d1):
    highest_three = []
    l = list(d1.values())
    sorted_l = sorted(l,reverse=True)
    for key,value in d1.items():
        if value in sorted_l[0:3]:
            highest_three.append(key)
    return highest_three
        
highest_three(d1)

['k1', 'k2', 'k3']

In [200]:
#23. Write a Python program to combine values in a list of dictionaries

d = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

list_values = []
for x in d:
    for key,value in x.items():
        list_values.append(value)
     
print(l)

[24, 34, 78, 21]

In [201]:
#24. Write a Python program to create a dictionary from a string.
#Note: Track the count of the letters from the string.
string = 'w3resource'
#Expected output: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

d={}
def create_dict(string):
    for char in string:
        d[char] = string.count(char)
    return d

create_dict(string)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

Let us see how you count values in lists and dictionaries.

You can use count on strings as given string.count(character you want). if you want to know length of string use len function

In lists :

my_list = [1, 2, 2, 3, 4, 2, 5, 2]

count = my_list.count(2)

print(count)

You can use list.count(character in list)

in dictionaries:

you can iterate on every element.

my_dict = {'a': 1, 'b': 2, 'c': 2, 'd': 3, 'e': 2}

count = sum(value == 2 for value in my_dict.values())

print(count)

In [203]:
#25. Write a Python program to print a dictionary in table format.

d = {'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}

l1 = list(d.keys())
l2 = list(d.values())

def table_d(d):
    for i in l2:
        for j in i:
            return (j)
        
table_d(d)

1

In [215]:
#26. Write a Python program to count the values associated with a key in a dictionary

student = [{'id': 1, 'success': True, 'name': 'Lary'},{'id': 2, 'success': False, 'name': 'Rabi'},{'id': 3, 'success': True, 'name': 'Alex'}]
result={}
for x in student:
    for key,value in x.items():
        if key in result:
            result[key] += 1
        else:
            result[key] = 1
            
print(result)

{'id': 3, 'success': 3, 'name': 3}

In [219]:
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
print(sum(d['id'] for d in student))
print(sum(1 for d in student if d['success']))
names = set()
for d in student:
    names.add(d['name'])
print(len(names))

6
2
3

In [ ]:
#sum(expression for variable in data if condition)

In [232]:
#27. Write a Python program to convert a list into a nested dictionary of keys.

num_list = [1, 2, 3, 4]
new_d = d = {}
for name in num_list:
    d[name] = {}
    d = d[name]
print(new_d)

{1: {2: {3: {4: {}}}}}

In [236]:
#28. Write a Python program to sort a list alphabetically in a dictionary.
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

d={}
for key,value in num.items():
    d[key] = sorted(value)
d

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [246]:
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

new_dict = {}

for key, value in student_list.items():
    new_key = "".join(key.split())
    new_dict[new_key] = value

print(new_dict)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [237]:
# Define translation table
translation_table = str.maketrans("aeiou", "12345")

# Original string
string = "Hello, world!"

# Perform translation
translated_string = string.translate(translation_table)

print(translated_string)  # "H3ll4, w4rld!"

H2ll4, w4rld!

In [257]:
#Write a Python program to get the top three items in a shop.
d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4': 55, 'item5': 24}
top_three_items = []

sorted_val = sorted(d.values(),reverse=True)

for key,value in d.items():
    if value in sorted_val[0:3]:
        top_three_items.append(key)

top_three_items

['item1', 'item3', 'item4']

In [261]:
d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4': 55, 'item5': 24}
sorted_val = sorted(d.values(),reverse=True)
sorted_val[0:3]

top_three_items = []
for key,value in d.items():
    if value >= sorted_val[2]:
        top_three_items.append(key)

top_three_items

['item1', 'item3', 'item4']

In [262]:
# Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

d1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4': 55, 'item5': 24}

def highest_three(d1):
    highest_three = []
    l = list(d1.values())
    sorted_l = sorted(l,reverse=True)
    for key,value in d1.items():
        if value in sorted_l[0:3]:
            highest_three.append(key)
    return highest_three
        
highest_three(d1)

['item1', 'item3', 'item4']

In [264]:
#31. Write a Python program to get the key, value and item in a dictionary.

d1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4': 55, 'item5': 24}

print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])
dict_values([45.5, 35, 41.3, 55, 24])
dict_items([('item1', 45.5), ('item2', 35), ('item3', 41.3), ('item4', 55), ('item5', 24)])

In [265]:
#32. Write a Python program to print a dictionary line by line.

students = {'Aex':{'class':'V',
        'rolld_id':2},
        'Puja':{'class':'V',
        'roll_id':3}}

for key,value in students.items():
    print(key)
    for a,b in value.items():
        print(a,b)

Aex
class V
rolld_id 2
Puja
class V
roll_id 3

In [267]:
#33. Write a Python program to check if multiple keys exist in a dictionary.

student = {
  'name': 'Alex',
  'class': 'V',
  'roll_id': '2'
}

print(student.keys() >= {'class', 'name'})
print(student.keys() >= {'name', 'Alex'})
print(student.keys() >= {'roll_id', 'name'})

True
False
True