#Covering basic python (Basic to Intermediate level python notes)
1. Data types
2. Loops
3. Functions
4. Data structures
5. Algorithms

Sources :
    
    1. https://wesmckinney.com/book/python-builtin.html
    2. https://mkzia.github.io/eas503-book/chapters/05/lists.html
    3. https://www.geeksforgeeks.org/python-programming-language/
    4. UC Berkeley D-lab workshops
    5. chatgpt to work on some notes

# Tuples and Strings

In [2]:
s = 'I am Vaishnavi'

In [ ]:
nested_tup

In [3]:
s.split()

['I', 'am', 'Vaishnavi']

In [4]:
s.split(' ')

['I', 'am', 'Vaishnavi']

In [5]:
s2 = 'I am @sravnath @here house@ 345'

In [6]:
s2.split('@')

['I am ', 'sravnath ', 'here house', ' 345']

In [8]:
type([])

list

In [9]:
s2.replace(' ','_')

'I_am_@sravnath_@here_house@_345'

In [3]:
s

'I am Vaishnavi'

In [26]:
# s[7] = 'a'

In [14]:
s = s + ' sahira'
s

'I am Vaishnavi sahira sahira'

In [25]:
# s[0] = 'U'

In [16]:
t = (1,2,3,4,5)

In [18]:
type(t)

tuple

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
list = 4, 5, 6

In [4]:
list

(4, 5, 6)

In [5]:
tup = tuple(['foo', [1, 2], True])

In [6]:
tup

('foo', [1, 2], True)

In [9]:
tup[1][0] = 4

In [10]:
tup

('foo', [4, 2], True)

In [11]:
tup[1].append(2)

In [12]:
tup

('foo', [4, 2, 2], True)

In [13]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [14]:
tup = 4, 5, (6, 7)

In [23]:
a,b,d,(c) = tup

ValueError: not enough values to unpack (expected 4, got 3)

In [24]:
#Unpacking by iterating over a sequences of tuples or lists
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [28]:
for a, b, c in seq:
     print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

# LISTS

In [ ]:
#List methods

Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). In simple language, a list is a collection of things, enclosed in [ ] and separated by commas.

Lists are the simplest containers that are an integral part of the Python language. Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

Complexities for Creating Lists

Time Complexity: O(1)

Space Complexity: O(n)

In [36]:
gen = range(7)

In [37]:
gen

range(0, 7)

In [39]:
gen[5]

5

In [40]:
type(gen)

range

In [42]:
[x for x in gen]

[0, 1, 2, 3, 4, 5, 6]

In [19]:
c

(6, 7)

In [ ]:
#List methods
#append
#insert

In [57]:
t = ("foo", "bar", "baz")
l = [x for x in t]
l

['foo', 'bar', 'baz']

In [59]:
l.append("dwarf")
l

['foo', 'bar', 'baz', 'dwarf', 'dwarf']

In [60]:
l.insert(1, "red")
l

['foo', 'red', 'bar', 'baz', 'dwarf', 'dwarf']

insert is computationally expensive compared with append, because references to subsequent elements have to be shifted internally to make room for the new element. If you need to insert elements at both the beginning and end of a sequence, you may wish to explore collections.deque, a double-ended queue, which is optimized for this purpose and found in the Python Standard Library.

when you insert an element in list all the other elements have to shift by 1 place so you are making an operation of time complexity O(n). Say, I have million elements in a list and I want to add a letter in the middle, I will have to traverse through half elements to shift them by one index. This is O(n/2) time complexity if you think of it. when limit n tends to infinity, I will regard this as O(n). So in space complexity it is only O(1) because we are not dealing with linked lists etc and we only deal with one dimensional lists. For append time and space complexity is O(1) and so far more computationally inexpensive than insert

In [ ]:
#The inverse operation to insert is pop, which removes and returns an element at a particular index:

In [63]:
l.pop(3)
l

['foo', 'red', 'bar', 'dwarf']

In [66]:
l.remove('bar')
l

['foo', 'dwarf']

If performance is not a concern, by using append and remove, you can use a Python list as a set-like data structure (although Python has actual set objects, discussed later

In [69]:
'dwarf' not in l

False

Checking whether a list contains a value is a lot slower than doing so with dictionaries and sets (to be introduced shortly), as Python makes a linear scan across the values of the list, whereas it can check the others (based on hash tables) in constant time.

# Concatenating and combining lists

In [71]:
#concat lists similar to tuples using '+'
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

list concatenation by addition is a comparatively expensive operation since a new list must be created and the objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable.

In [73]:
l = [4, None, "foo"]
l.extend([7, 8, (2, 3)])
l

[4, None, 'foo', 7, 8, (2, 3)]

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

is faster than the concatenative alternative:

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

In [79]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(reverse = True)
b

['small', 'six', 'saw', 'foxes', 'He']

# Slicing


You can select sections of most sequence types by using slice notation, which in its basic form consists of start:stop passed to the indexing operator []:

In [111]:
l1 = ["foo", "bar", "baz"]

In [112]:
l1

['foo', 'bar', 'baz']

In [113]:
l1.append("dwarf")

In [ ]:
#Slicing concepts

List slicing allows you to pick out specific elements from a list. In oder to understand the list slicing, you need to know five things:

Start index – this is the index from which the slice of a list is taken. This index is included.

End Index – this is the index to which the slice is taken up to but not including.

Step size – you can specify a skip factor that allows you to skip certain number of values

the colon is used separate start and end index and the step size.

Start index, end index, and step size are all optional, but you need at least one

Here are some variations of slicing:

start index, but no end index – my_list[3:] – will take all elements from index 3 to the end of list, including the last value

end index, but no start index – my_list[:10] – will take all elements from start of the of the list to index 10, but not include value at index 10

both start and end index – my_list[3:10] – this will include all elements from index 3 all the way up to index 10, but not include index 10.

start and end index and step size – my_list[3:10:2] – same as #3 but take every other element.

no start index, end index, and step size – my_list[:10:2] – take all elements from start of list to index number 10, but not including index number 10; also take every other element.

In [84]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [92]:
seq[1:3] #index starts from 0 to 3-1 0 to 2 indexes should be entered. so 2,3

[2, 3]

In [97]:
seq[-2:-6]

[]

In [98]:
seq[-6:-2]

[3, 7, 5, 6]

In [95]:
seq[:3:-1]

[1, 0, 6, 5]

A step can also be used after a second colon to, say, take every other element:

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [99]:
#Reassigning list
grades = ['A', 'B', 'C', 'D', 'F']
grades[0] = 'a'
grades[1:2] = 'a'
grades[2:] = ['d', 'f']

In [100]:
grades

['a', 'a', 'd', 'f']

In [103]:
#deleting list
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]
del grades[1:3]

In [104]:
grades

['B', 'F']

In [109]:
#pop and remove
grades = ['A', 'B', 'C', 'D', 'F']
grades.pop(0) # deletes the last element in list and returns it 
# deletes the first element in list and returns it
#grades.pop(3) # deletes the fourth element in list and returns it

'A'

In [110]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)  # Remove first occurrence of value 3
print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In terms of computational expense, the pop() method is generally more computationally expensive than the remove() method.

The reason is that pop() involves two operations: removing the element from the list and shifting the subsequent elements to fill the gap left by the removed element. This shifting operation requires updating the indices of the subsequent elements in the list. The time complexity of pop() is O(n), where n is the length of the list, because shifting the elements takes linear time as it scales with the number of elements.

On the other hand, the remove() method searches for the specified value in the list, and once found, it directly removes the element without shifting any other elements. The time complexity of remove() is O(n) in the worst case because it may need to traverse the entire list to find the value.

However, it's important to note that the computational expense difference between pop() and remove() is generally negligible for small lists. The choice between them should be based on the specific requirements and functionality needed for your code

Complexities for Deleting elements in a Lists(remove() method):
    
Time Complexity: O(n)

Space Complexity: O(1)
    
Complexities for Deleting elements in a Lists(pop() method):
    
Time Complexity: O(1)/O(n) (O(1) for removing the last element, O(n) for removing the first and middle elements)

Space Complexity: O(1)

In [10]:
max(5,7)

7

Time Complexity:
The time complexity for accessing elements in a list depends on the type of list and the specific operation you're performing. Here are the common cases:

Accessing an element by index: O(1)
If you know the index of the element you want to access, the time complexity is constant because the list uses an underlying array structure and can directly compute the memory address of the element based on the index.

Searching for an element: O(n)
If you need to search for an element in the list without knowing its index, you may need to iterate through the list until you find the desired element. In the worst case, you may have to check all n elements of the list, resulting in a linear time complexity.

Space Complexity:
The space complexity for accessing elements in a list also depends on the type of list and the specific operation. Here are the common cases:

Accessing an element by index: O(1)
When accessing an element by index, you don't allocate any additional space apart from the memory needed for the list itself. Hence, the space complexity is constant.

Creating a new list or modifying the list: O(n)
If you need to create a new list or modify the existing list by adding or removing elements, the space complexity would be proportional to the number of elements in the list. This is because you may need to allocate additional memory to accommodate the new or modified elements.

It's important to note that these complexities assume a standard list implementation. Different data structures, such as linked lists or skip lists, may have different complexities for accessing elements. Additionally, if the list is nested or multidimensional, accessing elements may involve additional complexities based on the structure and dimensions of the list.

Other than append() and insert() methods, there’s one more method for the Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.

Complexities for Adding elements in a Lists(extend() method):

Time Complexity: O(n)

Space Complexity: O(1)

Other list methods

len() calculate length of list

max() calculate max of list

min() calculate min of list

sum() calculate sum of list

sorted() return a sorted list

list() cast to type list – convert tuple to list or a generator to list #python does not have list syntax

any() return True if the truthiness of any value is True in the list

all() return True if the truthiness of all the values is True in the list

In [115]:
# Reversing a list
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [116]:
mylist[::-1]

[1, 2, 3, 4, 5, 'Geek', 'Python']

In [117]:
#better approach reverse index or reverse?

# List comprehension

Python List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

newList = [ expression(element) for element in oldList if condition ]

In [119]:
# Python program to demonstrate list
# comprehension in Python

# below list contains square of all
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [120]:
# for understanding, above generation is same as,
odd_square = []

for x in range(1, 11):
	if x % 2 == 1:
		odd_square.append(x**2)

print(odd_square)

[1, 9, 25, 49, 81]

Function	Description

Append()	Add an element to the end of the list

Extend()	Add all elements of a list to another list

Insert()	Insert an item at the defined index

Remove()	Removes an item from the list

Clear()	Removes all items from the list

Index()	Returns the index of the first matched item

Count()	Returns the count of the number of items passed as an argument

Sort()	Sort items in a list in ascending order

Reverse()	Reverse the order of items in the list

copy()	Returns a copy of the list

Built in Functions and their Descriptions

reduce()	apply a particular function passed in its argument to all of the list elements stores the intermediate 
result and only returns the final summation value

sum()	Sums up the numbers in the list

ord()	Returns an integer representing the Unicode code point of the given Unicode character

cmp()	This function returns 1 if the first list is “greater” than the second list

max()	return maximum element of a given list

min()	return minimum element of a given list

all()	Returns true if all element is true or if the list is empty

any()	return true if any element of the list is true. if the list is empty, return false

len()	Returns length of the list or size of the list

enumerate()	Returns enumerate object of the list

accumulate()	apply a particular function passed in its argument to all of the list elements returns a list containing the intermediate results

filter()	tests if each element of a list is true or not

map()	returns a list of the results after applying the given function to each item of a given iterable

lambda()	This function can have any number of arguments but only one expression, which is evaluated and returned.

In [122]:
#Enumerate function
#index = 0
#for value in collection:
   # do something with value
   #index += 1

Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function

In [11]:
rich = "gold"
poor = "tin"
# Max returns the latest alphabetical entry when applied to strings
print(max(rich, poor))

tin

In [12]:
max('Vaish', 'Srav')

'Vaish'

In [13]:
max('V', 'S')

'V'

To summarize, sort() is a method that sorts a list in-place, modifying the original list, while sorted() is a function that creates a new sorted list without modifying the original list.

In [123]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples

A common use of zip is simultaneously iterating over multiple sequences, possibly also combined with enumerate:

In [124]:
seq1 = ["foo", "bar", "baz"]

seq2 = ["one", "two", "three"]

In [128]:
for x in zip(seq1, seq2):
    print(x)

('foo', 'one')
('bar', 'two')
('baz', 'three')

In [131]:
for index, x in enumerate([101, 102, 103, 104, 105]):
    print(f"{index}: {x}")

0: 101
1: 102
2: 103
3: 104
4: 105

In [125]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [142]:
l = []
for i in reversed(range(10)) :
    l.append(i)
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [143]:
for i in range(5,50,5) :
    print(i)

5
10
15
20
25
30
35
40
45

In [144]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [145]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [147]:
for index, i in enumerate(values):
    print(index)

0
1
2
3
4

In [148]:
string1 = '1134000234'
string2 = ''.join(sorted([ele for ele in string1]))
string3 = ''.join(sorted([ele for ele in string1], reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [149]:
store = [0] * 10

for char in string1:
    index = int(char)
    store[index] += 1 #store[index] = store[index]+1

sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
print(sorted_string)

0001123344

In [151]:
store = [0] * 10

for char in string1:
    index = int(char)
    store[index] += 1 #store[index] = store[index]+1
store

[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [152]:
sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
print(sorted_string)

0001123344

#skipping bad values

try:

    value = float(line)
    
except:

    continue

In [156]:
#while loop
number = 1234
sum = 0
while number:
    sum += number % 10 #remainder
    number = number // 10 #quotient of type int
print(sum)

10

In [166]:
for digit in str(number):
    sum += int(digit)
print(sum)

10

In [167]:
#int, none, boolean, float are not iterable

In [ ]:
#String Methods

strip() : strip spaces to left and right of the string

strip(chars) : strip chars to left and right of the string

lstrip : strip spaces to left of string

rstrip : strip spaces to right of string

islower 

isupper

upper

lower

capitalize

title

swap case : convert lower to upper and upper to lower

.join() - The string join() method returns a string by joining all the elements of an iterable (list, string, tuple), separated by the given separator.

isalpha() – Returns True if all the characters are alphabet

isdecimal() – Returns True if all the characters are numbers (0-9); USE THIS!

isdigit() – Returns True if all the characters are numbers (0-9), superscripts ("\u00B2"), or fractions '\u00BC';

isnumeric() – Returns True if all the characters are numbers (0-9), superscripts ("\u00B2"), fractions '\u00BC', or Roman Numerals!

isalnum() – Returns True if the string is alpha numeric

startswith(substring) – Returns True if the string starts with the specific input argument


endswith(substring) – Returns True if the string ends with the specific input argument

find(substring) – Returns the index if the character is found; otherwise returns -1

in operator – Returns True if the operand on the left exists in the string

count(substring) – Returns the number of times the substring occurs

index(substring) – Returns the index if the character is found; otherwise raises an error

replace() – Replaces character(s) with other character(s); returns a new string

zfill(number_of_zeros) – prepend zeros to a string; returns a new string

In [168]:
my_string = 'EAS503'
my_string.zfill(8)

'00EAS503'

In [169]:
my_string = '123'
my_string.zfill(8)

'00000123'

In [161]:
15%2

1

In [14]:
def c_to_f(temp):
    return(temp * 1.8 +32)

In [15]:
c_to_f(0)

32.0

In [19]:
def a (temp):
    return(temp*2)

In [20]:
a(5)

10

In [40]:
def check_leap_year(year):
    if year%4 == 0:
        return True
    else:
        return False

In [41]:
check_leap_year(2004)

True

In [31]:
check_leap_year = 5

In [34]:
check_leap_year

In [45]:
def check_string_length(input_string):
    if len(input_string) > 5 :
        return True
    else :
        return False

In [47]:
check_string_length('sai')

False

In [1]:
my_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]], [[9, 10], [11, 12]]]

# Level_1 : [[1, 2], [3, 4]], [[5, 6], [7, 8]], [[9, 10], [11, 12]]
#     Level_2 : [1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12]
#             Level 3 : 1,2,3
                                                
for level_1 in my_list: 
    for level_2 in level_1:
        for level_3 in level_2:
            print(level_3)

1
2
3
4
5
6
7
8
9
10
11
12

In [55]:
def check_number_type(x):
    if x % 2 == 0 :
        return 'even'
    elif x % 2 != 0 :
        return 'odd'
    else :
        return 'prime'

In [57]:
check_number_type(11)

'odd'

### Slicing
- "[<left_index> : <right_index>]"
0 to n-1

In [63]:
s = ['a', 'b', 'c', 'd', 'e']

In [64]:
s[:]

['a', 'b', 'c', 'd', 'e']

In [65]:
s[:-1]

['a', 'b', 'c', 'd']

In [66]:
s[:-2]

['a', 'b', 'c']

In [67]:
s[:-3]

['a', 'b']

In [70]:
s[2:3]

['c']

In [71]:
s[-3:-1]

['c', 'd']

In [72]:
s[-3:-4]

[]

In [76]:
a = [1,2,3,4,5,6]

In [77]:
a[5]

6

In [82]:
b=[]

In [83]:
b.append(1)
b

[1]

In [84]:
b.append(2)
b

[1, 2]

In [85]:
b.append(3)
b

[1, 2, 3]

In [86]:
b.append(4)
b

[1, 2, 3, 4]

In [87]:
b.append(5)
b

[1, 2, 3, 4, 5]

In [97]:
a=[1]
c=a.extend(b)

In [99]:
b

[1, 2, 3, 4, 5]

In [100]:
a

[1, 1, 2, 3, 4, 5]

In [105]:
c = [5]
c=a.extend(b)
c

In [106]:
c

In [42]:
titles = ['Norwegian Woods','Kafka on the Shore'] #titles is defined after its called
def make_acronyms(titles):
    result = [] # output should be a list, not a string
    for title in titles:#title needs to match t
        #need second string aggregator here
        acronym = ''
        for word in title.split(' '):#missing
            firstChar = word[0].upper()
            acronym += firstChar
            #acronym.append(word[0].upper()+word[-1].upper()) #wrong index
        result.append(acronym)
    return(result)

output = make_acronyms(titles)

In [43]:
output

['NW', 'KOTS']

In [45]:
nested_tuple = (4,5,6),(3,2)
nested_tuple[1]

(3, 2)

In [48]:
d = {'name':'vaishnavi'}
d['name'] = 'srav'
d

{'name': 'srav'}

In [56]:
tup = ('pass',True),('fail',False), False
tup[2]

False

In [57]:
tup = (1,2,3)
a,b,c = tup

In [59]:
a

1

In [ ]:
list =

In [60]:
l = [1,2,3,4,5]
a,b,c,d,e = l

In [61]:
d

4

In [62]:
l = [1,2,4,5,6]

In [65]:
# INSSERT 3 IN CORRECT POSITION
l.append(3)
l

[1, 2, 4, 5, 6, 3, 3]

In [72]:
l = [1,2,4,5,6]

def insert_element_at_ind(insert_at, x, l):
    temp = -1
    l.append(-1)
    for i in range(insert_at, len(l)-1):
        print(i)
        temp = l[i+1]
        l[i+1] = l[i]
    l[insert_at] = x
    return l

result = insert_element_at_ind(2, 3, l)
result

2
3
4

[1, 2, 3, 4, 4, 4]

In [77]:
l = [1,2,4,5,6]
l.append(6)
l

[1, 2, 4, 5, 6, 6]

In [75]:
def insert_element_at_ind(insert_at, x, l):
    temp = -1
    l.append(-1)
    for i in range(insert_at, len(l)-1):
        print(i)
        temp = l[i+1]
        l[i+1] = l[i]
    l[insert_at] = x
    return l

None

In [80]:
def insert_element_at_ind(insert_at, x, l):
    left = l[:insert_at]
    right = l[insert_at:]
    left.append(x)
    left.extend(right)
    
    return left

In [86]:
l = [1,2,4,5,6]
l = insert_element_at_ind(2, 3, l)

In [87]:
l

[1, 2, 3, 4, 5, 6]

In [93]:
l[::-2]

[6, 4, 2]

In [4]:
d = {'k1':'v1','k2':'v2'}
a = set(d.items())
a

{('k1', 'v1'), ('k2', 'v2')}

In [5]:
a = {1,2,3,4,5}
for ele in a:
    print(ele)

1
2
3
4
5

In [26]:
my_data = [1, 2, 3, 4]
my_set = set(my_data)
my_setå

{1, 2, 3, 4}

In [36]:
my_data = [[1, 2, 3], [4,5,6], [7,8,9]]
my_set = set()

for ele in my_data:
    my_set.add(tuple(ele))
    print(myset)

# my_set = set(tuple(my_data))
my_set

{(7, 8, 9), (1, 2, 3), (4, 5, 6)}
{(7, 8, 9), (1, 2, 3), (4, 5, 6)}
{(7, 8, 9), (1, 2, 3), (4, 5, 6)}

{(1, 2, 3), (4, 5, 6), (7, 8, 9)}

In [41]:
c = tuple('string')

In [48]:
l=[1,2,3,[5,6]]
c=tuple(l)
c

(1, 2, 3, [5, 6])

In [51]:
c[3].append(7)
c

(1, 2, 3, [5, 6, 7, 7])

In [56]:
some_tuples = [(1,2,3), (4,5,6), (7,8,9)]
some_lists = [tup for tup in some_tuples]
some_lists

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [57]:
def my_func(z=0, x,y):
    return x+y+z

SyntaxError: non-default argument follows default argument (2441747727.py, line 1)

In [71]:
def my_func(x,y,z=0):
    return x+y+z

In [65]:
my_func(1,2,3)

6

In [70]:
my_func(y=2,x=1)

6

In [127]:
def cal_sum (x,y,z):
    return x+y+z

def cal_prod (x,y,z):
    return x*y*z

def cal_sub (x,y,z):
    return x-y-z

def cal(x,y,z,ops):
    k = []
    for op in ops:
        l = []
        for sub_op in op:
            print('loop: ', l)
            l.append(sub_op(x,y,z))
        k.extend([l])
    return k

In [128]:
ops_1 = [cal_sum,cal_prod,cal_sub]
ops_2 = [cal_sum,cal_prod]
ops_3 = [cal_prod]
ops_4 = [ops_1,ops_2,ops_3]

cal(1,5,10,ops_4)

loop:  []
loop:  [16]
loop:  [16, 50]
loop:  []
loop:  [16]
loop:  []

[[16, 50, -14], [16, 50], [50]]